@model Models.ViewModels.PurchaseOrderViewModel

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: lightblue;
            color: black;
            font: bold 16px arial;
            border-collapse: collapse;
            background-color: lightgray;
        }

        p {
            color: black;
            font: 18px arial;
            width: auto;
            margin: 0px;
            border: 0px;
            padding: 0px
        }
            p.POheading {
                text-align: left;
                font-family:Calibri;
                font-size: 18px;
                font-weight: normal;
                color: black;
            }
            p.FieldTitle {
                text-align: left;
                font-family:Calibri;
                font-size: 18px;
                font-weight: normal;
                color: black;
            }
            p.Section {
                font-family: Calibri;
                text-align: left;
                font-size: 18px;                
                color: black;
                font-weight:bold;
            }
            p.Section1 {
                font-family: Calibri;
                text-align: left;
                font-size: 20px;
                color: blue;
                background-color: bisque;
                padding-top:5px;
                padding-bottom:5px;
                padding-left:3px;
            }

        table {
            width: 95%;
            background-color: lightgray;            
            margin: 0;
            padding: 0;
       
        }

        td {
        }
        td.table 
        {
        }
        td.celldisplay 
        {            
            background-color: white;
            border:groove 1px black ; 
            padding:5px;
            vertical-align:top;
        }
        td.standardwidth 
        {
          width:8%;
        }

        th 
        {
            font-family: Calibri;
            font-size: 30px;      
            
        }
            th.display
            {                
                font-family:Calibri;
                font-size:24px;
                background-color:darkgrey;
            }
        tr {
        }
            tr.RowBackground {
                background-color: bisque;
            }
            tr.RowBackgroundLine {
                height: 10px;
                background-color: bisque;
            }
    </style>
</head>

<body>
    <table align="center">       
        <thead>
            <tr>
                <th colspan="4">
                    Purchase Order
                </th>
            </tr>
            <tr>
                <th colspan="4" style="color:red">
                    This is an example PO do not act on it!!!
                </th>
            </tr>
            <tr>
                <th colspan="2" align="left" class="display">
                    Purchase Order :<b>@Model.Code</b>
                </th>
                <th colspan="2" align="right" class="display">
                    Date: <b style="font:800">@Model.DateRaised</b>
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <hr />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="celldisplay">
                    <p style="background-color:darkgray">From</p>
                    <br />
                    <p >@Html.Raw(Model.FromDetail)</p>
                </td>
                <td colspan="2" class="celldisplay">
                    <p style="background-color:darkgray">To</p>
                    <br />
                    <p style="background-color:white">@Html.Raw(Model.ToDetail)</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="celldisplay">
                    <p style="background-color:darkgray">Deliver To:</p>
                    <br />
                    <p style="background-color:white">@Html.Raw(Model.DeliverToDetail)</p>
                </td>
                <td colspan="2" class="celldisplay">

                    <p style="background-color:darkgray">Invoice To:</p>
                    <br />
                    <p style="background-color:white">@Html.Raw(Model.InvoiceToDetail)</p>
                </td>
            </tr>
            <tr>
                <td class="celldisplay" colspan="4">
                    <p style="background-color:darkgray">Required by :</p>
                    <p >@Model.DateRequired</p>
                </td>
            </tr>
            <tr>
                <td class="celldisplay" colspan="4" height="80px" >
                    <p style="background-color:darkgray">Notes :</p>
                    <p >@Model.Note</p>
                </td>
            </tr>          
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                                <th class="standardwidth"></th>
                            </tr>
                            <tr>
                                <td class="celldisplay" colspan="12">
                                    <p style="background-color:darkgray">Items Required</p>                                 
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var I in Model.Items)
                            {                                
                                <tr>
                                    <td  class="celldisplay" colspan="1">
                                        <p style="background-color:darkgray">Code</p>
                                        <p>@I.Code</p>
                                    </td>
                                    <td  class="celldisplay" colspan="2">
                                        <p style="background-color:darkgray">Brand</p>
                                        <p >@I.Brand</p>
                                    </td>
                                    <td class="celldisplay" colspan="5">
                                        <p style="background-color:darkgray">Name</p>
                                        <p>@I.Name</p>
                                    </td>

                                    <td class="celldisplay" colspan="2">
                                        <p style="background-color:darkgray">Quantity</p>
                                        <p>@I.Quantity</p>
                                    </td>
                                    <td class="celldisplay" colspan="2">
                                        <p style="background-color:darkgray">Price</p>
                                        <p>@I.Price</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="celldisplay" colspan="8">
                                        <p style="background-color:darkgray">Description</p>
                                        <p>@I.Description</p>
                                    </td>
                                    <td class="celldisplay" colspan="2">
                                        <p style="background-color:darkgray">Tax</p>
                                        <p >@I.Tax</p>
                                    </td>
                                    <td class="celldisplay" colspan="2">
                                        <p style="background-color:darkgray">Total</p>
                                        <p >@I.Total</p>
                                    </td>
                                </tr>
                            }

                            <tr style="background-color:black">
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                                <td class="standardwidth"></td>
                            </tr>
                            <tr>
                                <td colspan="8"></td>
                                <td class="celldisplay" colspan="2"><p style="background-color:darkgray">Price</p></td>
                                <td class="celldisplay" colspan="2"><p>@Model.Price</p></td>
                            </tr>
                            <tr>
                                <td colspan="8"></td>
                                <td class="celldisplay" colspan="2"><p style="background-color:darkgray">Tax</p></td>
                                <td class="celldisplay" colspan="2"><p>@Model.Tax</p></td>
                            </tr>
                            <tr>
                                <td colspan="8"></td>
                                <td class="celldisplay" colspan="2"><p style="background-color:darkgray">Total</p></td>
                                <td class="celldisplay" colspan="2"><p>@Model.Total</p></td>
                            </tr>

                        </tbody>
                    </table>
                    <hr />
                </td>
            </tr>

        </tbody>
    </table>

    <footer>
        <h2>
            <a href="https://cljwebdemo.azurewebsites.net/PurchaseOrder/Display/@Model.Id.ToString()">View PO details in Browser</a>
        </h2>
    </footer>

</body>
</html>