
@model UI.Views.Shared.Components.HTMLSelect.HTMLSelectsubtextViewComponent.OutputModel

    <div>
        @if (!string.IsNullOrEmpty(Model.Label))
        {
            <label for="@Model.Name" class="control-label">@Model.Label</label>
        }

        <select name="@Model.Name"
                id='@(Model.Name + "id" )'
                class="form-control bg-primary"
                onchange="@(Model.Name)changehandler(this)">

            @foreach (var I in Model.Options)
            {
                <option value="@I.Value" selected="@I.Selected" data-subtext="@I.SubText" data-email="@I.Email" data-Person="@I.Person">@I.Text</option>
            }
            >
        </select>
        <span id='@(Model.Name + "Span" )' class="text-danger field-validation-valid"></span>
        <div id='@(Model.Name + "Email" )' data-email="@Model.Email"></div>
        <div id='@(Model.Name + "Person" )' data-person="@Model.Person"></div>


        <p id="@(Model.Name + "DetailId")">
            @Html.Raw(@Model.Subtext)
        </p>

        <script>
        function  @(Model.Name)changehandler(event)
        {
            document.getElementById('@(Model.Name + "DetailId")').innerHTML = event.selectedOptions[0].getAttribute('data-subtext');
            document.getElementById('@(Model.Name + "Email" )').setAttribute('data-email', event.selectedOptions[0].getAttribute('data-email'));
            document.getElementById('@(Model.Name + "Person" )').setAttribute('data-person', event.selectedOptions[0].getAttribute('data-person'));
            ProcessSelection("@Model.Name");
        }
        </script>
    </div>
