@model Models.ViewModels.OrganisationItemIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<div class="displaybox">
    <div class="row">
        <div class="col-sm-12 col-md-4"><h4>@Model.OrganisationName Items</h4> </div>
        <div class="col-sm-12 col-md-2">
               <a class="btn btn-block btn-primary Buton-Green" asp-action="Create" asp-route-id="@Model.OrganisationId">Create New</a> 
        </div>
    </div>
</div>

<div class="displaybox">
    <div class="row">
        <div class="col-md-3">Item</div>
        <div class="col-md-3">Code</div>
    </div>
</div>

    <div class="setverticalscroll" style="height:550px;">

        @foreach (var item in Model.Index.OrderBy(x => x.Name))
        {
            <div class="displaybox">


                <div class="row">

                    <div class="col-md-3 col-sm-12 displaybox1">
                        <a asp-action="Edit" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </div>

                    <div class="col-md-3 col-sm-12 displaybox1">
                        @Html.DisplayFor(modelItem => item.Code)
                    </div>

                    <div class="col-md-2 col-sm-12 displaybox1">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>

                </div>
            </div>
        }
    </div>
